<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techmaster_Banner::banner_manager" title="Banner Manager"  module="Techmaster_Banner" action="banner/index/index"  resource="Techmaster_Banner::banner_manager"/>
        <add id="Techmaster_Banner::list_banner" title="List Manager" parent="Techmaster_Banner::banner_manager" module="Techmaster_Banner" action="banner/index/index"  resource="Techmaster_Banner::banner_manager"/>
       
    </menu>
</config>
